.busqueda-propia-container {
  overflow: auto;
  width: 100%;
}

.Busqueda_Datos_Personal h1 {
  color: rgb(39, 26, 230);
}

.select-container {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.select-container label {
  margin-right: 10px;
  white-space: nowrap;
  margin-left: 0;
  width: 50%;
}

.select-container .select {
  width: 400px;
  font-size: 16px;
}

.input-container-filtro {
  margin-top: 10px;
}

.input-container-filtro input {
  width: 100%;
  max-width: 400px;
  height: 40px;
  background: white;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  color: black;
  box-sizing: border-box;
  padding-right: 20px;
}

.table-container {
  overflow-x: auto;
  width: 100%;
  background-color: white;
  margin: 20px 0;
  padding: 0 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 8px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid #ddd;
}




  
  
  
